.grid-box--header{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 10px 31px;
}
.grid-box--header button{
    background-color: var(--black-color);
    color: var(--primary-400, #34C94B);
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.grid-container{
    display: flex;
    column-gap: 40px;
    margin : 0 40px 0 40px;
}
.grid-container--collapse{
    flex-wrap: wrap;
}
