.current-song-container{
    border-top: 2px solid rgb(79, 74, 74);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.current-song-container .progress-bar{
    display: flex;
    padding-top: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 3rem;
}

.current-song-container .progress-bar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.current-song-text{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 2rem;
}
.current-song-text img{
    height: 4rem;
    width: 4rem;
}
.current-song-text p {
    font-size: small;
}