.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
}

.logo {
    max-width: 100%;
    height: auto;
    /* Ensure the logo has space to its left */
    margin-left: 20px; /* Adjust as needed */
}
