.logo-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100px; /* Example height; adjust as needed */
}

.logo {
    width: 67px;
    /* Other styles for .logo */
}
