.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}


    .logo {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px; /* add space to the left */
      }

