.search-container {
  position: relative;
}
.searchIcon {
  position: absolute;
  right: -10px;
  top: 0;
  background-color: var(--white-color);
  height: 48px;
  width: max-content;
  border: none;
  border: 1px solid #121212;
  border-radius: 0 8px 8px 0; 
  padding: 5px;
  padding-right: 10px;
}
.search-container input {
  width: 568px;
  height: 48px;
  border-radius: 8px;
  padding: 10px;
  padding-right: 0;
}

#input-options {  
  position: absolute;
  top: 4rem;
  left: -7rem;
  width: 50rem;
  max-height: 25rem;
  z-index: 2;
  overflow: auto;
  border: 1px solid var(--primary-color);
  border-top: 0;
  background-color: var(--black-color);
  border-radius: 0 0 10px 10px;
}
.input-options-list{
  list-style-type: none;
  display: block;
  width: 95%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 10px;
}
.input-options-list .mini-container{
  display: flex;
  column-gap: 10px;
  align-items: center ;
}
.input-options-list img{
  display: block;
  height: 3.4rem;
  width: 5rem;
  border: 5px solid #1D1D1D;
  border-radius: 10px;
}
/* This almosts hide the scroolbar */
.scrollable-container::-webkit-scrollbar {
  width: 0.1px;
  background-color: transparent;
}
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
a{
  cursor: pointer;
  text-decoration: none;
    color: inherit;
}





@media (max-width: 1000px) {
  .search-container input {
    width: 400px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #121212;
    padding: 5px;
  }
}
@media (max-width: 700px) {
  .search-container input {
    width: 300px;
    height: 48px;
  }
}
@media (max-width: 500px) {
  .search-container input {
    width: 95vw;
  }
  .search-container {
    margin-left: 16px;
    margin-right: 16px;
  }
}
