@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    /* Declaring Global variable inside root element */
    --primary-color: #34c94b;
    --black-color: #121212;
    --white-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

body {
    font-family: "Poppins",sans-serif;
    line-height: 1.5;
    background-color: var(--black-color);
    color: var(--white-color);
}
img,
video,
picture,
canvas,
svg{
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select{
    font: inherit;  
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}
button{
    cursor: pointer;
}


body::-webkit-scrollbar {
    width: 0.1px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}